<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CUSTOM QLIK SERVER</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body {
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
            text-align: center;
        }

        #uploadqvf {
            margin-left: 70px;
            margin-right: 70px;
            margin-top: 70px;
        }
    </style>
</head>

<body>
    <form action="/qlikdevhub" method="POST">
        <h3>WELCOME TO QLIK DEV HUB</h3>
        <div id="uploadqvf" class="file-field input-field">
            <div class="btn">
                <span>QLIK FILE(.qvf)</span>
                <input type="file" name="fileqvf">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" name="pathqvf" type="text">
            </div>
        </div>
        <br>
        <!-- <hr> -->
        <input class="btn waves-light" type="submit" value="UPLOAD AND GET APP DATA" name="qvf">
    </form>


</body>

</html>